.app { 
  background-color: rgb(14, 14, 14);
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.app-link {
   color: rgb(67, 185, 61);
   text-decoration: none;
}

.open-terminal {
	background: rgb(67, 185, 61);
	border-radius: 7px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 28px;
	padding: 15px 30px;
  text-decoration:none;
  border: 0px;
}


/* To animate typing effect */
.typing-effect {
  letter-spacing: .15em;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Terminal styles */
.terminal-window {
  width: 100%;
  padding: 5px;
  color: 'black';
}

.terminal-prompt {
  color: rgb(67, 185, 61);
}

.terminal-prompt input {
  border: 0px;
  color: rgb(67, 185, 61);
  background-color: rgb(14, 14, 14);
  font-weight: bold;
  font-size: 110%;
  width: 70%;
  overflow: scroll;
}

/* Desktop */
.desktop {
  position: relative;
  width: 100%;
  height: 100vh;
}

.file-folder {
  color: white;
  cursor: pointer;
  width: auto;
  height: auto;
  position: absolute;
}

.icon-file-folder {
  font-size: 500%;
  color: white;
}

.window {
  padding: 10px;
}

.window-files {
  margin: 15px
}